.logo {
  width: 104px;
  height: 16px;
}

.header {
  height: 68px;
  background-color: var(--badges);
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navigation ul {
  display: flex;
  gap: 32px;
}

.nav-link {
  transition: color 250ms ease-in-out;
}

.nav-link.active {
  color: var(--button-hover);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--button-hover);
}
