.search-section {
  padding-top: 84px;
  display: flex;
  justify-content: center;
}

.catalog-section {
  padding: 56px 0 124px 0;
}

.load-btn {
  margin: 80 auto 0 auto;
}

.no-found-title {
  padding: 100px 0;
  text-align: center;
}
