.form {
  display: flex;
  gap: 16px;
  align-items: end;
}

.form label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);

  margin-bottom: 8px;
}

.form input,
.select-container :global(.select__control) {
  border-radius: 12px;
  background-color: var(--inputs);
  border: none;
  min-height: 44px;
}

.select-container :global(.select__control) {
  cursor: pointer;
}

.select-container :global(.select__control--is-focused) {
  box-shadow: none;
}

.brand-select-container :global(.select__control) {
  min-width: 204px;
}

.price-select-container :global(.select__control) {
  min-width: 196px;
}

.select-container :global(.select__value-container) {
  padding: 0;
}

.select-container :global(.select__placeholder),
.select-container :global(.select__single-value) {
  color: var(--main);
  margin: 0;
  padding: 12px 16px;
}

.select-container :global(.select__dropdown-indicator) {
  padding: 14px 16px;
}

.select-container :global(.select__menu) {
  border-radius: 12px;
  border: 1px solid var(--inputs);
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  margin-top: 4px;
  background-color: var(--white);
  overflow: hidden;
  padding-right: 8px;
}

.brand-select-container :global(.select__menu),
.brand-select-container :global(.select__menu-list) {
  height: 272px;
}

.price-select-container :global(.select__menu),
.price-select-container :global(.select__menu-list) {
  height: 188px;
}

.select-container :global(.select__menu-list) {
  padding: 14px 0 14px 18px;
}

.select-container :global(.select__menu-list::-webkit-scrollbar) {
  width: 8px;
}

.select-container :global(.select__menu-list::-webkit-scrollbar-track) {
  background: transparent;
  margin: 12px 0;
}
.select-container :global(.select__menu-list::-webkit-scrollbar-thumb) {
  background: var(--gray-light);
  border-radius: 10px;
}

.form .select-container :global(.select__option) {
  background-color: transparent;
  padding: 8px 0;
  cursor: pointer;
  color: var(--gray);

  transition: color 250ms ease-in-out;
}

.form .select-container :global(.select__option--is-focused),
.form .select-container :global(.select__option--is-selected) {
  color: var(--main);
}

/*inputs*/

.mileage-group {
  display: flex;
  align-items: end;
}

.input-wrapper,
.select-wrapper {
  position: relative;
}

.prefix {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
  user-select: none;
  pointer-events: none;
}

.input-with-label {
  display: flex;
  flex-direction: column;
}

.input {
  font-weight: 500;
  color: inherit;
  width: 160px;
  padding: 12px 0;
}

.mileage-group > div:first-child .input {
  border-radius: 14px 0 0 14px;
  border-right: 1px solid var(--gray-light);
  padding-left: 64px;
}

.mileage-group > div:last-child .input {
  border-radius: 0 14px 14px 0;
  padding-left: 44px;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
  color: #f44336;
  white-space: nowrap;
  padding-top: 4px;
}
